html {
  border-top: 17px solid black; }

/* Modificaciones Generales */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; }

div.mainContent h2 {
  font-size: 18px;
  text-transform: uppercase;
  color: #090909;
  border-bottom: 6px solid #090909;
  padding-bottom: 1.25%;
  padding-left: 2%;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: 0 7px; }

/* Wrapper */
.wrapper {
  max-width: 960px;
  margin: 0 auto; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.header {
  padding: 2% 0 1.56%;
  border-bottom: 1px solid #c0c0c0; }

/*Header*/
div.logo1 img {
  float: left;
  width: 19.3%; }

.menu {
  float: right;
  width: 68.2%;
  position: relative; }

#menu-link-email {
  font-size: 13px;
  color: #999898;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0; }

#menu-list {
  list-style: none;
  margin: 4.58% 0 0 0;
  padding: 0%; }

#menu-list li {
  float: left; }

#menu-list li + li {
  margin-left: 6.66%; }

#menu-list a {
  font-size: 13px;
  font-weight: bold;
  color: #fe9b00;
  text-decoration: none;
  text-transform: uppercase; }

/*@use 'colores'; Trate de usarlo pero me daba error abajo*/
/*Imagen Principal*/
div.imagenPrincipal {
  margin: 19px 0; }

div.imagenPrincipal img {
  width: 100%; }

/*Main Content*/
.mainContent {
  padding-bottom: 39px;
  border-bottom: 2px solid #5d5d5d; }

.mainContent p {
  color: #5d5d5d;
  /*Aqui puse colores.$gris y aun asi me dio error*/
  font-size: 12px;
  line-height: 20px; }

#box-benefits-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.box {
  width: 29.16%;
  float: left; }

.box img {
  position: relative;
  top: -2px; }

.box a {
  color: #fe9b00;
  margin-right: 0.5%;
  text-decoration: none; }

.box + .box {
  margin-left: 6.25%; }

.portfolio {
  border-bottom: 2px solid #5d5d5d;
  padding-bottom: 41px; }

div.trabajos img {
  width: 22.39%; }

.portfolio h2 {
  font-size: 18px;
  text-transform: uppercase;
  color: #090909;
  padding-bottom: 12px;
  padding-left: 2%;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: 0 5px; }

.portfolio a {
  margin-right: 2%; }

.blog {
  margin-top: 28px; }

.blog h3 {
  font-size: 12px;
  text-transform: uppercase;
  color: #090909;
  padding-bottom: 12px;
  padding-left: 2%;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: 0 3px; }

.blogUpdates {
  width: 68.54%;
  float: left; }

.blogUpdates p {
  color: #5d5d5d;
  font-size: 12px;
  line-height: 20px; }

.media {
  float: left;
  padding-left: 8.75%; }

.media a {
  margin-left: 1%; }

.footer {
  max-width: 960px;
  height: 101px;
  background-color: #e2e2e2;
  margin: 0 auto; }

.container-footer {
  width: 100%;
  margin: 0 auto; }

.information {
  width: 50%;
  float: left;
  padding-top: 33px;
  padding-right: 14.89%; }

.information a {
  color: #5d5d5d;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  border-left: 0.1% solid #5d5d5d;
  padding: 0 0.7% 0 0.7%; }

div.information span {
  color: #5d5d5d;
  font-size: 12px; }

div.logo2 img {
  float: right;
  width: 19.3%; }

@media (max-width: 1024px) {
  div.logo1 img {
    padding-left: 36%;
    width: 30%; }
  .menu {
    right: 11%; }
  #menu-list li + li {
    margin-left: 5.66%; }
  #menu-link-email {
    display: none; }
  /*Portfolio*/
  div.trabajos img {
    width: 43%;
    padding-left: 4%; }
  .portfolio a {
    margin-right: 2%; } }

@media (max-width: 800px) {
  /*Header*/
  div.logo1 img {
    padding-left: 36%;
    width: 30%; }
  #menu-link-email {
    font-size: 13px;
    color: #999898;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 0; }
  #menu-list {
    display: none;
    list-style: none;
    margin: 4.68% 0 0 0;
    padding: 0%; }
  #menu-link-email {
    display: none; }
  /*Main Content*/
  .mainContent {
    padding-bottom: 39px;
    border-bottom: 2px solid #5d5d5d; }
  .mainContent p {
    padding-left: 2%;
    color: #5d5d5d;
    /*Aqui puse colores.$gris y aun asi me dio error*/
    font-size: 12px;
    line-height: 20px; }
  #box-benefits-list {
    list-style: none;
    margin: 0;
    padding: 0; }
  .box {
    width: 100%;
    margin-bottom: 10px;
    padding-left: 0;
    margin-left: 0;
    float: left; }
  /*Portfolio*/
  div.trabajos img {
    padding-left: 5%;
    width: 90%; }
  .portfolio h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #090909;
    padding-bottom: 12px;
    padding-left: 2%;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: 0 5px; }
  .portfolio a {
    margin-bottom: 50px; }
  /*Blog*/
  .blog {
    margin-top: 28px; }
  .blog h3 {
    font-size: 12px;
    text-transform: uppercase;
    color: #090909;
    padding-bottom: 12px;
    padding-left: 4%;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: 0 3px; }
  .blogUpdates {
    padding-left: 2%;
    width: 100%;
    float: left; }
  .blogUpdates p {
    color: #5d5d5d;
    font-size: 12px;
    line-height: 20px; }
  .media {
    padding-left: 0; }
  .subtitleInformation {
    width: 100%;
    margin-bottom: 15px; }
    .subtitleInformation a {
      margin-left: 25%; }
  div.logo2 img {
    display: none; }
  div.information {
    padding-left: 5%; } }
