@import './partials/generales';
@import './config/mixin';
@import './config/mixinOperador';
@import './partials/header';

/*@use 'colores'; Trate de usarlo pero me daba error abajo*/

$fontSize: 12px;

/*Imagen Principal*/

div.imagenPrincipal{
    margin: 19px 0;
}
div.imagenPrincipal{
	img{
		width: 100%;
	}
}
/*Main Content*/
.mainContent{
	padding-bottom: 39px;
	border-bottom: 2px solid #5d5d5d;
}
.mainContent p{
	color: #5d5d5d; /*Aqui puse colores.$gris y aun asi me dio error*/
	font-size: $fontSize;
	line-height: 20px;
}

#box-benefits-list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.box{
	width: 29.16%;
	@include float;
}
.box img{
	position: relative;
	top: -2px;

}
.box a{
    color: #fe9b00;
	margin-right: 0.5%;
    text-decoration: none;
}
.box + .box{
	margin-left: 6.25%;
}
.portfolio{
	border-bottom: 2px solid #5d5d5d;
	padding-bottom: 41px;
}
div.trabajos{
	img{
		width: 22.39%;
	}
}
.portfolio h2{
	font-size: 18px;
	text-transform: uppercase;
	color: #090909;
	@include padding;
	padding-left: 2%;
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: 0 5px;	
}
.portfolio a{
	margin-right: 2%;
}
.blog{
	margin-top: 28px;
}
.blog h3{
	font-size: $fontSize;
	text-transform: uppercase;
	color: #090909;
	@include padding;
	padding-left: 2%;
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: 0 3px;	
}

.blogUpdates{
	width: 68.54%;
	@include float;;
}

.blogUpdates p{
	color: #5d5d5d;
	font-size: $fontSize;
	line-height: 20px;
}
.media{
	@include float;
	padding-left: 8.75%;
}

.media a{
	margin-left: 1%;
}
.footer{
	max-width: 960px;
	height: 101px;
	background-color: #e2e2e2;
	margin: 0 auto;
}
.container-footer{
	width: 100%;
	margin: 0 auto;
}
.information{
	width: 50%;
	@include float;
	padding-top: 33px;
	padding-right: 14.89%;
}

.information a{
	color: #5d5d5d;
	font-size: $fontSize;
	line-height: 20px;
	text-decoration: none;
	border-left: 0.1% solid #5d5d5d;
	padding: 0 0.7% 0 0.7%;
}
div.information span{
	color: #5d5d5d;
	font-size: $fontSize;
}
div.logo2{
	img{
		float: right;
		width: 19.3%;
	}
	
}
@import './responsive/ipod';
@import './responsive/mobile';
