@import './partials/generales';
@import './config/mixin';
@import './config/mixinOperador';
@import './partials/header';

/*@use 'colores'; Trate de usarlo pero me daba error abajo*/

$fontSize: 12px;

/*Imagen Principal*/

div.imagenPrincipal {
    margin: 19px 0;
}

/*Main Content*/
.mainContent{
	padding-bottom: 39px;
	border-bottom: 2px solid #5d5d5d;
}
.mainContent p{
	color: #5d5d5d; /*Aqui puse colores.$gris y aun asi me dio error*/
	font-size: $fontSize;
	line-height: 20px;
}

#box-benefits-list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.box{
	width: 280px;
	@include float;
}
.box img{
	position: relative;
	top: -2px;

}
.box a{
    color: #fe9b00;
	margin-right: 5px;
    text-decoration: none;
}
.box + .box{
	margin-left: 60px;
}
.portfolio{
	border-bottom: 2px solid #5d5d5d;
	padding-bottom: 41px;
}
.portfolio h2{
	font-size: 18px;
	text-transform: uppercase;
	color: #090909;
	@include padding;
	padding-left: 20px;
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: 0 5px;	
}
.portfolio a{
	margin-right: 20px;
}
.blog{
	margin-top: 28px;
}
.blog h3{
	font-size: $fontSize;
	text-transform: uppercase;
	color: #090909;
	@include padding;
	padding-left: 20px;
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: 0 3px;	
}

.blogUpdates{
	width: 658px;
	@include float;;
}

.blogUpdates p{
	color: #5d5d5d;
	font-size: $fontSize;
	line-height: 20px;
}
.media{
	@include float;
	padding-left: 84px;
}

.media a{
	margin-left: 10px;
}
.footer{
	height: 101px;
	background-color: #e2e2e2;
}
.container-footer{
	width: 960px;
	margin: 0 auto;
}
.information{
	width: 480px;
	@include float;
	padding-top: 33px;
	padding-right: 143px;
}

.information a{
	color: #5d5d5d;
	font-size: $fontSize;
	line-height: 20px;
	text-decoration: none;
	border-left: 1px solid #5d5d5d;
	padding: 0 7px 0 7px;
}
div.information span{
	color: #5d5d5d;
	font-size: $fontSize;
}
.logo2{
	float: right;
}