html{
    border-top: 1.063rem solid black;
}

/* Modificaciones Generales */

$font: Arial, Helvetica, sans-serif;
$fontColor: #090909;

body{
    font-family: $font;
    margin: 0;
}

div.mainContent h2{
    font-size: 1.125rem;
    text-transform: uppercase;
	color: $fontColor;
	border-bottom: 0.375rem solid $fontColor;
	padding-bottom: 1.25%;
    padding-left: 2%;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: 0 0.438rem;
}

/* Wrapper */

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header{
	padding: 2% 0 1.56%;
	border-bottom:0.063rem solid #c0c0c0;
}