/*Header*/



div.logo1{
    img{
        float: left;
        width: 19.3%;
    }
}

.menu{
    float: right;
    width: 68.2%;
	position: relative;
}

#menu-link-email{
	font-size: 13px;
	color: #999898;
	text-decoration: none;
	position: absolute;
	top: 0;
	right: 0;
}

#menu-list{
	list-style: none;
	margin: 4.68% 0 0 0;
	padding: 0%;
}
#menu-list{
    li{
        float: left;
    }
} 
#menu-list{
    li + li{
        margin-left: 6.66%;
    }
} 

#menu-list{
    a{
        font-size: 13px;
        font-weight: bold;
        color: #fe9b00;
        text-decoration: none;
        text-transform: uppercase;
    }
} 
